<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.guerreirosgames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppGuerreirosGames">
        <activity
            android:name=".servicos.computador.montar.MontarComputadorUm"
            android:label="@string/montar_computador_manifest"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".servicos.computador.ComputadorUm"
            android:label="@string/computador_manifest"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.celular.CelUm"
            android:label="@string/celular_manifest"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TelaPrincipal"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.videogames.VideoUm"
            android:label="@string/video_games"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.videogames.VideoDois"
            android:label="@string/video_games"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.videogames.VideoTres"
            android:label="@string/video_games"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".servicos.Final_OS" />
        <activity android:name=".servicos.Pagamento" />
        <activity android:name=".servicos.Agendamento" />
        <activity
            android:name=".servicos.arcondicionado.ArUm"
            android:label="@string/ar_condicionado_ar_um"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.arcondicionado.ArDois"
            android:label="@string/ar_condicionado_ar_um"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.arcondicionado.ArTres"
            android:label="@string/ar_condicionado_ar_um"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.arcondicionado.ArBTUS"
            android:label="@string/ar_condicionado_ar_um"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".servicos.TelaMain"
            android:label="@string/title_activity_tela_main"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TelaEsqueciSenha"
            android:label="@string/esqueci_a_senha_btn_esqueci" />
        <activity
            android:name=".TelaCadastro"
            android:label="@string/cadastre_se_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>